*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}


:root {
    --color-main: #262626;
    --news-title: 34px;
    --main-font-size: 24px;

}

@font-face {
    font-family: 'calibri-regular';
    src: url('../fonts/calibri.woff2') format('woff2');
}


body {
    font-family: 'calibri-regular';
    font-size: var(--main-font-size);
    color: var(--color-main);
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 20px;
}

.header {
    width: 100%;
    height: 44px;
    background-color: var(--color-main) ;
}

.header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__date {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 18px 33px;
    background-color: #d82e20;

    font-family: 'calibri-regular';
    font-size: 20px;
    line-height: 1.22;
    color: #fff;
}

.header__soc-media {
    display: flex;
    gap: 17px;
}

.header__icon {
    width: 25px;
    height: 25px;
    cursor: pointer;

    transition: 0.5s;
}

.after-header {
    position: -webkit-sticky;
    position: fixed;
    top: 56px; /* header height + 12px margin-top */
    right: 0;
    left: 0;

    background-color: #ffffff;

    transition: 0.5s;
}

.after-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: -9px;
}

.logo img {
    width: 80%;
    transition: 0.5s;
}

.search-bar {
    width: 235px;
    margin-right: 30px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    border: 1.5px solid var(--color-main);
    border-radius: 60px;

}

.search {
    width: 100%;
    outline: none;
    margin-left: 10px;
    font-family: 'calibri-regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.22;
}

.menu {
    margin-top: 210px;
    margin-bottom: 40px;
}

.menu__container {
    display: flex;
    justify-content: center;
}

.menu__list {
    display: flex;
    gap: 30px;
}

.menu__item {}

.menu__link {
    font-family: 'calibri-regular';
    font-size: var(--main-font-size);
    font-weight: 700;
    line-height: 1.22;
    text-transform: uppercase;
    color: var(--color-main);
}

.news-block__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.news__block-news {}

.main-news {
    padding-right: 20px;
    border-right: 1px solid var(--color-main);
}

.main-news__image {
    width: 100%;
    height: auto;
    max-height: 338px;
}

.main-news__title {
    margin-top: 30px;

    font-size: 45px;
    font-weight: 400;
    line-height: 1.1;
}

.main-news__slogan {
    margin-top: 15px;

    font-size: 24px;
    font-weight: 400;
    line-height: 1.22;
}

.main-news__preview, .news__preview {
    margin-top: 15px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;

    color: #666666;
}

.main-news__author, .news__author {
    margin-top: 15px;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.34;

    color: var(--color-main);
}

.main-new__btn {
    margin-top: 30px;
}

.read-btn {
    padding: 8.5px 50px;
    background-color: var(--color-main);
    border-radius: 8px;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

.news-block__four {
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-column-gap: 20px;
}

section.news-block > div > div > div:nth-child(1) > article:nth-child(1),
section.news-block > div > div > div:nth-child(2) > article:nth-child(1) {
    padding-bottom: 15px;;
    border-bottom: 0.5px solid  #cccccc;
}

section.news-block > div > div > div:nth-child(1) > article:nth-child(2),
section.news-block > div > div > div:nth-child(2) > article:nth-child(2) {
    margin-top: 20px;
}

/* separator */
section.news-block > div > div > div:nth-child(1) {
    padding-right: 19.5px;
    border-right: 0.5px solid #cccccc;
}


.news {}

.news__info-wrapper {
}

.news__image {
    width: 100%;
    height: auto;
    min-height: 208px;
}

.news__title {
    margin-top: 15px;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.1;
}

.news__author {
    margin-top: 7px;
}

.category {
    margin-top: 40px;
}

.category.russia .main-news__image {
    max-height: 345px;
    max-width: 517px;
}

.category.world .swiper,
.category.culture .swiper {
    padding-bottom: 0px;
    border: none;
}

.category__container {
    padding-top: 25px;
    border-top: 1px solid var(--color-main);
}

.category__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

.category__swiper {
    margin-top: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cccccc;
}

.category__swiper .swiper-button-prev,
.category__swiper .swiper-button-next {
    top: 114px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #6f6f6f;
}

.category__swiper .swiper-button-prev::after,
.category__swiper .swiper-button-next::after {
    display: none;
}

.category__news {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.news-feed {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-left: 16px;
    padding-top: 5px;
    border-top: 1.5px solid var(--color-main);
}


.news-feed__title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;

    color: var(--color-main);
}

.news-feed__news {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;

}

.news-feed__news .news__title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
}

.news-feed__news .news__slogan {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    color: #666666;
}

.news-feed__news .news__image {
    width: 82px;
    min-height: 82px;
    height: 82px;

}

.news-block-with-feed {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    border-right: 0.5px solid #cccccc;
}

.news-block-two {
    display: flex;
    gap: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cccccc ;
}

.news-block-two .news {
    display: flex;
}

.news-block-two article:first-child {
    padding-right: 20px;
    border-right: 1px solid #6f6f6f;
}

.news-block-two .news__image {
    width: 230px;
    min-height: 166px;
    height: 166px;
}

.news-block-two  .news__preview {
    margin-top: 7px;
}


.main-news-v2 {
    padding: 0px;
    border: none;

    margin-top: 26px;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.main-news-v2 .main-news__title {
    margin-top: 0px;
}

.category .news-block {
    margin-top: 40px;
}

.category .news-block__container {
    padding: 0;
}

.category-two__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
}

.category-two__block {
    padding-top: 25px;
    border-top: 1px solid var(--color-main);
}

.block-two__news-block {
    display: flex;
    margin-top: 30px;
}

section.category.category-two > div > section:nth-child(2) > div > article {
    padding-left: 14px;
    border-left: 1px solid #cccccc;
}

.block-two__news {
    padding-right: 17px;
    border-right: 1px solid #cccccc;
}

.mini-feed {
    flex: 1 1 auto;
    padding-left: 17px;
}

.mini-feed__news {
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
}

.mini-feed .news:last-child {
    border: none;
}

.mini-feed__news-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1;
}

.footer {
    margin-top: 50px;
    background-color: var(--color-main);
}

.footer__container {
    padding-top: 21px;
    padding-bottom: 20px;
}

.footer__links {
    display: flex;
    justify-content: space-between;
}

.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #ffffff;
}

.footer__rights {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #ffffff;
}

